<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Securi - Emprunt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <style>
        .btn-link {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <section class="container">
        <div class="row justify-content-center">
          <div class="col-9 col-sm-8 col-md-6 col-lg-4" style="background-image: url({{ url_for('static', filename='gosecuri.png') }});background-position: top right; background-size: 100px;background-repeat: no-repeat;">
            <div class='mb-3'>
                <a href='/' class='btn btn-link'>&larr; Identification</a>
            </div>
            <div class='text-center'>
              <img src="{{ url_for('static', filename='1234567890.jpg') }}" style='width:150px' alt="Photo de Fabrice Pellerin">
              <!-- {{ model.AI }} {{ model.Prediction }} -->
              <h2>Agent n° {{ model.AgentId }}</h2>
            </div>
            <form>
            <table class='table align-middle'>
              <tr>
                <th># série</th>
                <th>Equipement</th>
                <th></th>
              </tr>
              <tr>
                <td colspan='3'>
                  <select class='form-select' name='take' onchange='this.form.submit()'>
                    <option selected>Prendre un équipement</option>
                    <optgroup label="Bandeau agent de sécurité cynophile">
                      <option value='1'>A1234 Bandeau agent de sécurité cynophile n°1</option>
                      <option value='2'>B2345 Bandeau agent de sécurité cynophile n°2</option>
                      <option value='3'>C3456 Bandeau agent de sécurité cynophile n°3</option>
                    </optgroup>
                    <optgroup label="Gant d'intervention">
                      <option value='11'>A1234 Gant d'intervention n°1</option>
                      <option value='12'>B2345 Gant d'intervention n°2</option>
                      <option value='13'>C3456 Gant d'intervention n°3</option>
                    </optgroup>
                    <optgroup label="Mousqueton">
                      <option value='21'>A1234 Mousqueton n°1</option>
                      <option value='22'>B2345 Mousqueton n°2</option>
                      <option value='23'>C3456 Mousqueton n°3</option>
                    </optgroup>
                  </select>
                </td>
              </tr>
              <tr>
                <td>L567891</td>
                <td>Lampe torche n°10</td>
                <td><a href='#'>Remettre</a></td>
              </tr>
              <tr>
                <td>L56789Z341</td>
                <td>Bandeau agent de sécurité cynophile n°10</td>
                <td><a href='#'>Remettre</a></td>
              </tr>
              <tr>
                <td>R1234567</td>
                <td>Taser n°1</td>
                <td><a href='#'>Remettre</a></td>
              </tr>
              </table>
              </form>
          </div>
        </div>
</body>
</html>